#map {
    height: 97vh;
    width: 95vw;
    margin-inline: auto;
}
@media only screen and (orientation: landscape) {
    .leaflet-popup-content {
        width: 30vw;
        height: auto;
        max-height: 80vh;
        overflow-y: scroll;
        overflow-x: clip;
    }
}

@media only screen and (orientation: portrait) {
    .leaflet-popup-content {
        width: 30vw;
        height: auto;
        max-height: 30vh;
        overflow-y: scroll;
        overflow-x: clip;
    }
}

.leaflet-popup-content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.leaflet-marker-icon[src^=icon] {
    background-color: rgba(70, 70, 70, 0.3);
    padding: 16px;
    border-radius: 25%;
}

.leaflet-marker-icon[src^=icon][alt=poi-Brunnen],
.leaflet-marker-icon[src^=icon][alt=poi-Brücke] {
    background-color: rgba(151, 227, 120, 0.7) !important;
}

.leaflet-marker-icon[src^=icon][alt=poi-Friedhof],
.leaflet-marker-icon[src^=icon][alt=poi-Skulptur],
.leaflet-marker-icon[src^=icon][alt=poi-Schloss],
.leaflet-marker-icon[src^=icon][alt=poi-Denkmal],
.leaflet-marker-icon[src^=icon][alt=poi-Wegkreuz] {
    background-color: rgba(173, 104, 33, 0.7) !important;
}



/* Toggle Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}